:root {
    --button: #FF0000;
    --main-background: #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

* {
    margin: 0%;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}


header {
    margin-top: 42px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

#logo {
    left: 4.17%;
    right: 92.22%;
    top: 3.61%;
    bottom: 93.02%;
    margin-right: 9rem;
}

#bag {
    display: flex;
    width: 3.4rem;
    height: 3.4rem;
    left: 134.6rem;
    top: 4.7rem;
    margin-right: 4rem;

}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex: 1;
}

nav input {
    width: 22rem;
    height: 4.5rem;
    padding-left: 6rem;
    background-image: url(assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position-x: 2rem;
    background-position-y: 1rem;
}

nav a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: #000000;
}

#compra {
    background-color: var(--main-backgroundbackground);
    margin-top: 19rem;
    margin-left: 11.1rem;
    padding-right: 1.1rem;
    width: 35.7rem;
    height: 53.3rem;
}

#compra h1 {
    width: 35.7rem;
    height: 27.2rem;
    left: 11.1rem;
    top: 19rem;
    font-size: 6rem;
    line-height: 7rem;
    padding-bottom: 2.1rem;

    color: #000000;
}

#compra p {

    width: 34.2rem;
    height: 5.7rem;
    left: 11.1rem;
    top: 48.3rem;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #9C9696;
}

#compra h2 {
    width: 22rem;
    height: 4.2rem;
    left: 11.1rem;
    top: 56.1rem;
    font-size: 4rem;
    line-height: 47rem;
    color: #000000;
}

#compra input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.4rem;
    height: 9rem;
    left: 11.1rem;
    top: 63.3rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    background: #FF0000;
    text-transform: uppercase;
    margin-top: 3.0rem;
}

.desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

footer {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 144rem;
    height: 16.633rem;
    flex-grow: 1;
    left: 0px;
    margin-top: 19.1rem;
}




#mais {
    flex-flow: row-reverse;

    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-color: #000;

    color: white;
    text-decoration: none;
    font-weight: 700;
}

aside {
    position: absolute;
    width: 90rem;
    height: 91.4rem;
    left: 54rem;
}

#fotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: space-between;
    width: 26.951rem;
    height: 18.28rem;
    top: 69.058rem;
    margin-left: 4rem;
}

aside:nth-child(2) {
    width: 59.7rem;
    height: 51.082rem;
    left: 69.7rem;
    top: 17.468rem;
}